.spacer {
    flex: 1 1 auto;
}

.icon-spacer {
    margin-left: 10px;
}

.adjust-color, .mat-icon {
    color: rgb(66, 66, 66);
}

.adjust-space {
    margin-right: 10px;
}

.adjust-font {
    font-size: small;
}